<section
        data-autoslide="{{ hasSlide.duration * 1000 }}"
        data-state="slide-{{ slide.type }}"
        data-slideid="{{ slide.id }}"
        class="{{ slide.style }}{{ slide.glow ? ' glow':'' }}"
>
    {% if slide.showtitle %}
        <h1>{{ slide.name }}</h1>
    {% endif %}

    <div class="scrollable"><div>
    {% for top in slide.top %}
        {%  set unit = constant('TYPES_FORMAT', top.scoreboard)[top.scoreboard.type] %}
        <h2>{{ top.scoreboard.game.name }} - {{ top.scoreboard.game.brand.name }}</h2>
        <table class="scoreboard">
            <thead>
                <tr>
                    <th class="rank">Rank</th>
                    <th class="date">Date</th>
                    <th class="name">Name</th>
                    <th class="score">Score</th>
                </tr>
            </thead>
            <tbody>
                {%  set counter = 0 %}
                {% for score in top.scores %}
                    {% set counter = counter + 1 %}
                    <tr>
                        <td class="rank">{{ counter|localizednumber('ordinal') }}</td>
                        <td class="date">{{ score.date|date('d/m/Y') }}</td>
                        <td class="name">{{ score.playername }}</td>
                        {% if top.scoreboard.type in range(10, 19) %}
                            <td class="score">{{ score.value|date(unit) }}</td>
                        {% elseif top.scoreboard.type in range(20, 29) %}
                            <td class="score">{{ score.value|localizednumber('decimal', 'default', 'fr') }} {{ unit }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}
    </div></div>
</section>