<section
    data-autoslide="{{ hasSlide.duration * 1000 }}"
    data-state="slide-{{ slide.type }}"
    data-slideid="{{ slide.id }}"
    data-video="{{ slide.video }}"
    class="{{ slide.style }}{{ slide.glow ? ' glow':'' }}"
    >
    {% if slide.showtitle %}
    <h1 class="fitty">{{ slide.name }}</h1>
    {% endif %}
    <div class="video-player stretch"></div>
</section>
