<section
        data-autoslide="{{ hasSlide.duration * 100 }}"
        data-state="slide-{{ slide.type }}"
        data-slideid="{{ slide.id }}"
>
    {% if slide.showtitle %}
        <h1>{{ slide.name }}</h1>
        <h2>{{ slide.top.game.name }} - {{ slide.top.game.brand.name }}</h2>
    {% endif %}
    <table class="scoreboard">
        <thead>
            <tr>
                <th class="rank">Rank</th>
                <th class="date">Date</th>
                <th class="name">Name</th>
                <th class="score">Score</th>
            </tr>
        </thead>
        <tbody>
        {% set counter = 0 %}
        {% for score in slide.top.scores %}
            {% set counter = counter + 1 %}
            <tr>
                <td class="rank">{{ counter|localizednumber('ordinal') }}</td>
                <td class="date">{{ score.date|date("d/m/Y") }}</td>
                <td class="name">{{ score.playername }}</td>
                <td class="score">{{ score.value }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</section>