<section
        data-autoslide="{{ hasSlide.duration * 100 }}"
        data-state="slide-{{ slide.type }}"
        data-slideid="{{ slide.id }}"
>
    {% if slide.showtitle %}
        <h1>{{ slide.name }}</h1>
    {% endif %}

    {% for scoreboard in slide.top %}
        <h2>{{ scoreboard.game.name }} - {{ scoreboard.game.brand.name }}</h2>
        <table class="topscore">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Name</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                {% for score in scoreboard.scores %}
                    <tr>
                        <td>{{ score.date|date("d/m/Y") }}</td>
                        <td>{{ score.playername }}</td>
                        <td>{{ score.value }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}
</section>